.webcamCapture {
    position: relative;
}

.webcamCaptureButton {
     position: absolute;
     bottom: 5;
     left: 45%;
     transform: translate(-50%, -50%,);
     cursor: pointer;
     color: red;
}